.list{
    padding: 0;
    text-align: center;
}
.list-item{
    padding: 30px;
    display: inline-block !important;
}
body{
    background-color:lightgrey !important;
}
.jumbotron{
    background-color: white !important;
    border-radius: 10px;
    padding: 5px !important; 
}
a {
    text-decoration: none;

}