* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
   
}

.header {
    height: 50px;
    background: aqua;
}

.nav {
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
    line-height: 50px;
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px;
}

.nav li a:hover {
    
    border-bottom: 3px solid black;
}

.home {
    flex-grow: 2;
}

.flex {
    width: 1040px;
    margin: 0 auto;
}
.flex .container{
  
    display: inline-block;
    margin: 40px 20px;
}
.container {
    
    text-align: center;
    font-size: 1.5em;
    
}

.buy {
    margin: 0 auto;
    display: block;
    text-decoration: none;
    width: 100px;
    height: 48px;
    text-align: center;
    background: aqua;
    line-height: 48px;
    color: #fff;
    border: 2px solid aqua;
}

.buy:hover {
    height: 48px;
    border: 2px solid aqua;
    background: #fff;
    color: aqua;
    transition: all .1s ease-in-out 0s;
}


form {
    padding: 0;
    width: 300px;
    margin: 40px auto;
    font-family: 'Montserrat', sans-serif;
}
input {
    display: block;
    border: 1px solid #cccccc;
    border-radius: 3px; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    background: #ffffff !important;
    outline: none;
    height: 50px; 
    color: #cccccc; 
    font-size: 11px; 
    font-family: 'Montserrat', sans-serif;
    width: 300px;
    text-align: center;
    font-size: 1.3em;
    color: #000;
    margin: 5px 0;
}

input[type="submit"] {
    width: 302px;
    margin-top: 50px;
    
}


input[type="submit"]:hover {
    color: white;
    background: aqua!important;
    cursor: pointer;
}
